/Conversao_de_tipos.py
/Desafio_1_tuitando.py
/Desafio_2_mes.py
/Desafio_3_Encaixa.py
/Estruturas_condicionais.py
/Estrutura_de_repeticao_for.py
/Estrutura_de_repeticao_while.py
/Fatiamento_de_strings.py
/For_com_continue.py
/Identacao.py
/Input.py
/Interpolando_variaveis.py
/Manipulacao_string.py
/Operadores_de_associacao.py
/Operadores_de_identidade.py
/Operadores_logicos.py
/primeiro_programa.py
/Range.py
/String_multiplas_linhas.py